In [26]:
angka = -1
if angka > 10:
    print(f"{angka} lebih besar dari 10")
else:
    print(f"{angka} lebih kecil dari 10")

-1 lebih kecil dari 10

In [22]:
number = 3
if number % 2 == 0:
    print(f"{number} adalah angka genap")
else:
    print(f"{number} adalah ganjil")

3 adalah ganjil

In [29]:
#kondisi lebih dari 2
angka1 = 1
if angka1 > 10:
    print(f"{angka1} lebih besar dari 10")
elif angka1 == 10:
    print(f"{angka1} sama dengan 10")
else:
    print(f"{angka1} lebih kecil dari 10")
#elif boleh berkali-kali kalo if dan else cuma boleh 1 kali

1 lebih kecil dari 10

In [31]:
menu = ["nasi goreng",
        "mie ayam",
        "soto ayam",
        "ayam penyet"]
'nasi kuning' in menu

False

In [34]:
makanan = "mie ayam"
if makanan in menu:
    print(f"abangnya jual {makanan}")
else:
    print(f"abangnya gajual {makanan}")

abangnya jual mie ayam

In [51]:
buah = ["pisang","melon","semangka","jeruk"]
len(buah) #buat tahu ada berapa elemen dalam list

4

In [53]:
if len(buah) > 3:
    if "jeruk" in buah:
        print("beli jeruk")
    else:
        print("mampir aja")
else:
    print("skip aja")

beli jeruk

In [60]:
True or False

True

In [61]:
True and False

False

In [58]:
if 'jeruk' in buah and 'mangga' in buah:
    print("mampir")
else:
    print("skip")

skip

In [59]:
if 'jeruk' in buah or 'mangga' in buah:
    print("mampir")
else:
    print("skip")

mampir

In [63]:
True and True and False

False

In [71]:
nilai = 12.4
if nilai >=85 and nilai <=100:
    print('A')
elif nilai >=65 and nilai <85:
    print('B')
elif nilai >=40 and nilai <65:
    print('C')
elif nilai >=20 and nilai <40:
    print('D')
elif nilai >=0 and nilai <20:
    print('E')
else:
    print ('undefined')

E

In [87]:
score = input("masukkan angka: ")
if score.isnumeric():
    score = float(score)
    if score>=0 and score <=100:
        if score >=80:
            print('A')
        elif score >=65:
                print('B')
        elif score >=40:
            print('C')
        elif score >=20:
            print('D')
        else:
            print('E')
    else:
        print('invalid')
else:
    print('bukan angka')

E

In [80]:
x = input("masukkan angka: ")
x= float(x)

In [81]:
print(x)

12.0

## looping

In [92]:
angka = 0

In [94]:
angka = angka + 1
print(angka)

2

In [95]:
i = 0
while i<5:
    print(f"i ke : {i}")
    print("heyhoo")
    i = i + 1

i ke : 0
heyhoo
i ke : 1
heyhoo
i ke : 2
heyhoo
i ke : 3
heyhoo
i ke : 4
heyhoo

In [97]:
print(i)

5

In [102]:
pesanan = []
pesan = ''
while pesan != 'cukup':
    pesan = input("masukkan pesanan anda: ")
    if pesan != 'cukup':
        pesanan.append(pesan)

In [103]:
pesanan

['ayam']

In [106]:
i = 1
while i <= 10:
    print(f"7 x {i} = {7*i}")
    i = i + 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [107]:
i = 1
j = 1

while j <= 10:
    while i <=10:
        print(f"{j} x {i} = {j*i}")
        i = i + 1
    j = j + 1
    i = 1
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [108]:
tukang_buah = ['pepaya', 'mangga','pisang', 'jambu']
i = 0
while i < len(tukang_buah):
    print(f"abang ini jual {tukang_buah[i]}")
    i = i + 1

abang ini jual pepaya
abang ini jual mangga
abang ini jual pisang
abang ini jual jambu

In [110]:
tukang_buah = ['pepaya', 'mangga','pisang', 'jambu']
for fruit in tukang_buah:
    print(f"abang ini jual {fruit}")

abang ini jual pepaya
abang ini jual mangga
abang ini jual pisang
abang ini jual jambu

In [113]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [114]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
list(range(5))

[0, 1, 2, 3, 4]

In [116]:
list(range(len(tukang_buah)))

[0, 1, 2, 3]

In [118]:
ket = ['stok dikit','lagi musim','langka','stok banyak']
for i in range(len(tukang_buah)):
    print(f"abang jual {tukang_buah[i]}, ket : {ket[i]}")

abang jual pepaya, ket : stok dikit
abang jual mangga, ket : lagi musim
abang jual pisang, ket : langka
abang jual jambu, ket : stok banyak

In [119]:
for i in range (1,11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [122]:
for j in range(1,11):
    for i in range(1,11):
        print(f"{j} x {i} = {j*i}")
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************